doctype html
html
	head
		title Event Creation - Meet-Up Event Planner

		script(src="../node_modules/jquery/dist/jquery.min.js")
		script(src="../node_modules/bootstrap/dist/js/bootstrap.min.js")
		script(src="js/app.js")

		link(rel="stylesheet",href="../node_modules/bootstrap/dist/css/bootstrap.min.css")
		link(rel="stylesheet",href="css/app.min.css")

		meta(name="viewport",content="width=device-width, initial-scale=1, maximum-scale=1")
	body
		.jumbotron.text-center.m-b-0
			h2 Meet-Up Event Planner
			h4 Event Creation
		nav.navbar.navbar-default.m-t-0
			.container
				ul.nav.navbar-nav.m-t-0
					li
						a(href="account.html") Account Creation
					li.active
						a(href="event.html") Event Creation
					li
						a(href="event_list.html") Event List
		.row.content
			.form-center
				form(name="createEvent", method="POST")
					.form-group
						label(for="inputName") Name
						input#inputName.form-control(autofocus,type="text",name="name",placeholder="The Event Name",required)
					.form-group
						label(for="inputEventType") Event Type
						input#inputEventType.form-control(list="eventType",name="eventType",placeholder="Birthday Party, Conference...",required)
						datalist#eventType
							option(value="Birthday Party")
							option(value="Conference")
							option(value="Wedding")
					.form-group
						label(for="inputHost") Event Host
						input#inputHost.form-control(type="text",name="host",placeholder="Individual's name or an organization",required)
					.form-group
						label(for="inputStart") Event Start
						input#inputStart.form-control(type="datetime-local",name="start",required)
					.form-group
						label(for="inputEnd") Event End
						input#inputEnd.form-control(type="datetime-local",name="end",required)
					.form-group
						label(for="inputGuestList") Guest List
						input#inputGuestList.form-control(type="text",name="guestlist",placeholder="James, Luana, Carlos, etc..",required)
					.form-group
						label(for="inputLocation") Location
						input#inputLocation.form-control(type="text",maxlength="3",name="location",placeholder="New York..",required)
					.form-group
						label(for="inputAdditionalInfo") Additional Information
						input#inputAdditionalInfo.form-control(type="text",name="additionalinfo",placeholder="An optional message to the guests ...")
					.progress
						.progress-bar(role="progressbar",aria-valuenow="0",aria-valuemin="0",aria-valuemax="100",style="width:0%") 0%
					input.form-control.btn-primary(type="submit",value="Create")
